@import "~materialize-css/dist/css/materialize.min.css";
body {
    background-color: #424242;
    color: whitesmoke;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}
.container {
    background-color: #424242;
    height: 100%;
}
.nav-wrapper {
    padding: 0 20px;
}
#nav-mobile {
    display: block !important;
}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
